<div class="panel panel-info post-it">
    <h1 class="panel-heading">
        <%= postit.dataValues.title; %>
    </h1>
    <div class="panel-body post-it-container">
        <%= postit.dataValues.content; %>
    </div>

</div>