<div class="panel panel-info post-it" id="postit<%= postit.dataValues.id; %>">
    <div class="panel-heading">
        <h3 class="panel-title"><%= postit.dataValues.title; %></h3>
        <div class="postit-author">By <%= author; %></div>
    </div>
    <div class="panel-body post-it-container">
        <%= postit.dataValues.content; %>
    </div>

</div>