<% include partials/header.ejs %>

<body>
<% include partials/nav.ejs %>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-4 text-center column-container">
            <div class="panel panel-primary">
                <div class="header-column panel-heading">Backlog</div>
                <div id="backlog" class="panel-body column">
                    <%
                    for (var i = 0; i < posts.length; i++){
                    if (posts[i].dataValues.type == "backlog"){
                    %>
                    <div class="panel panel-info post-it">
                        <h1 class="panel-heading">
                            <%= posts[i].dataValues.title; %>
                        </h1>
                        <div class="panel-body post-it-container">
                            <%= posts[i].dataValues.content; %>
                        </div>

                    </div>
                    <%
                    }}
                    %>

                </div>
            </div>

        </div>


        <div class="col-lg-4 text-center column-container">
            <div class="panel panel-primary">
                <div class="header-column panel-heading">todo</div>
                <div id="todo" class="panel-body column">



                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center column-container">
            <div class="panel panel-primary">
                <div class="panel-heading header-column ">doing</div>
                <div id="doing" class="panel-body column">




                </div>
            </div>
        </div>
    </div>

</div>
<% include partials/pop-up-add-postit.ejs %>
<% include partials/scripts.ejs %>
</body>

</html>
