<% include partials/header.ejs %>

<body>
<% include partials/nav.ejs %>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-4 text-center column-container">
            <div class="panel panel-primary">
                <div class="header-column panel-heading">Backlog</div>
                <div id="backlog" class="panel-body column">
                    <%
                    posts.forEach(function(postit){
                    if (postit.dataValues.type == "backlog"){
                    %>
                    <% include partials/postit.ejs %>
                    <%
                    }
                    });
                    %>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center column-container">
            <div class="panel panel-primary">
                <div class="header-column panel-heading">todo</div>
                <div id="todo" class="panel-body column">
                    <%
                    posts.forEach(function(postit){
                    if (postit.dataValues.type == "todo"){
                    %>
                    <% include partials/postit.ejs %>
                    <%
                    }
                    });
                    %>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center column-container">
            <div class="panel panel-primary">
                <div class="panel-heading header-column ">doing</div>
                <div id="doing" class="panel-body column">
                    <%
                    posts.forEach(function(postit){
                    if (postit.dataValues.type == "doing"){
                    %>
                    <% include partials/postit.ejs %>
                    <%
                    }
                    });
                    %>
                </div>
            </div>
        </div>
    </div>

</div>
<% include partials/pop-up-add-postit.ejs %>
<% include partials/scripts.ejs %>
</body>

</html>
