<% include partials/header.ejs %>

<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-offset-4 col-md-4" id="box">
            <h2>Login</h2>

            <hr>

            <form class="form-horizontal" action="/connection" method="post" id="contact_form">
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="login" placeholder="Username" class="form-control" type="text">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input name="password" placeholder="Password" class="form-control" type="password">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-md btn-danger pull-right">Login</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>
</body>
</html>
