<% include partials/header.ejs %>

<body>
<% include partials/nav.ejs %>


    <div class="jumbotron alert alert-warning">
        <div class="container">
        <h1>Hello, thanks to join us !</h1>
        <p>You are new and you haven't any project. Let's go to create a new project or join an older.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="newproject" role="button">Create a project</a>
            <a class="btn btn-primary btn-lg" href="joinproject" role="button">Join a project</a>
        </p>
        </div>
    </div>


<% include partials/pop-up-add-postit.ejs %>
<% include partials/scripts.ejs %>
</body>

</html>
