<% include partials/header.ejs %>

<body>
<% include partials/nav.ejs %>


    <div class="jumbotron alert alert-warning">
        <div class="container">
        <h1>Congratulation, you are a new project !</h1>
        <p>You need to add postits now :)</p>

        </div>
    </div>


<% include partials/pop-up-add-postit.ejs %>
<% include partials/scripts.ejs %>
</body>

</html>
