body {
    padding: 70px 50px 50px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(#6294a0, #6294a0);
}

#box {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    top: 50px;
}

h2 {
    text-align: center;
    color: #fff;
}

/*
**** BOOTSTRAP ****
*/
.container-fluid {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
}

.row {
    height: 100%;
}

.column-container {
    padding: 0 20px;
    height: 100%;
}

.column-container .panel-primary {
    height: 100%;
}

.column {
    height: 100%;
}

/*
**** POST-IT ****
*/
.post-it {
    margin: 10px;
    cursor: move;
}

.post-it h1 {
    margin: 0;
}

.header-column {
    font-size: 29px;
    text-transform: capitalize;
}

.gu-mirror {
    margin: 10px;
    padding: 10px;
    transition: opacity 0.4s ease-in-out;
    text-align: center;
}

/*
    Lightbox
*/

.modal-backdrop {
    display: none;
}

#login-modal {
    top: 20%;
}

#addPostitDialog {
    height: 300px;
    width: 60%;
}

.back-add-postit {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1b6d85;
    display: none;
}

/*
    NAV
*/
.nav-right {
    margin-top: 8px;
}